openai
langchain
streamlit
langchain_community
python-dotenv
langserve
fastapi
uvicorn
sse_starlette
ipykernel
bs4
pypdf
chromadb
tiktoken 
langchain-openai
faiss-cpu
lancedb
langchainhub
arxiv
wikipedia
google-api-python-client
pydantic
langchain_groq
sentence_transformers
llama-index
PyPDF2
langchain_google_genai
langchain_anthropic
langchain_google_firestore